@font-face {
  font-family: LeagueGothic;
  src: url('League Gothic.otf');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ddd;
  color: #666;
  font-family: LeagueGothic;
}

ul, li {
  margin: 0;
  padding: 0;
}

#board {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  background: #ccc;
  border-top: 1px solid #b0b0b0;
  -webkit-box-shadow: rgba(0,0,0,0.05) 4px 4px 0px inset;
  -moz-box-shadow: rgba(0,0,0,0.05) 4px 4px 0px inset;
}

.stack {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.card {
  position: relative;
  display: block;
  width: 75px;
  height: 30px;
  cursor: move;
  margin-bottom: -5px;
  overflow: hidden;
  
  border-top: 1px solid #ccc;
  background: #ddd;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

.ui-draggable-dragging {
  
}

.card:last-child {
  height: 75px;
  margin-bottom: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #eee;
}

.hovered {
  background: #eee;
}
.hovered.full {
  background: #fff;
}

.value {
  font-size: 18px;
  margin: 0 3px 0 6px;
}
.symbol {
  font-size: 16px;
}
.back {
  position: absolute;
  right: 5px;
  top: -10px;
  font-size: 35px;
  opacity: 0.2;
}
.card:last-child .value {
  position: absolute;
  margin-left: 0;
  font-size: 50px;
  bottom: 0px;
  left: 10px;
}
.card:last-child .symbol {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
}
.card:last-child .back {
  font-size: 90px;
  left: -10px;
  top: -20px;
}

.d, .h {
  color: #b14e4e;
}
.s, .c {
  color: #646768;
}