!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')

  body#board
  
    #top
      .opponent
        .pounce
          ul.stack
            li.card(style='background: url(../images/avtest_nw.png)')
              span.size 13

        .piles
          ul.stack
            li.card.h
              span.value 5
              span.symbol &hearts;
          ul.stack
            li.card.c
              span.value 10
              span.symbol &clubs;
          ul.stack
            li.card.d
              span.value A
              span.symbol &diams;
              span.back &diams;
          ul.stack
            li.card.s
              span.value K
              span.symbol &spades;
              
        .stream
          ul.stack
            li.card.h
              span.value 9
              span.symbol &hearts;
            li.card.s
              span.value K
              span.symbol &spades;
            li.card.h
              span.value J
              span.symbol &hearts;
    
    
    #bottom
      #player


    script(src='/js/jquery.js')
    script(src='/js/card.js')
    script(src='/js/player.js')
    script(src='/js/pounce.js')
    