!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')

  body#board
  
    .player
      ul.stack
        li.card.full.c
          span.value 5
          span.symbol &clubs;
          span.back

      ul.stack
        li.card.full.c
          span.value 5
          span.symbol &clubs;
          span.back
        
      ul.stack
        li.card.full.c
          span.value 5
          span.symbol &clubs;
          span.back
        
      ul.stack
        li.card.full.c
          span.value 5
          span.symbol &clubs;
          span.back          

  
    script(src='/js/jquery.js')
    script(src='/js/card.js')
    script(src='/js/player.js')
    script(src='/js/pounce.js')
    