!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')

  body
  
    #board
  
    script(src='/js/jquery.js')
    script(src='/js/card.js')
    script(src='/js/player.js')
    script(src='/js/pounce.js')
    