!!! 5
html
  head
    title Coming soon...
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/splash.css')

  body
    #splash
      div
        ul.stack
          li.splash.card.c
            span.value 5
            span.symbol &clubs;
          li.splash.card.h
            span.value 4
            span.symbol &hearts;
          li.splash.full.card.s
            span.value P
            span.symbol &spades;  
            span.back &spades; 
        ul.stack
          li.splash.card.h
            span.value 10
            span.symbol &hearts;
          li.splash.card.s
            span.value 9
            span.symbol &spades;
          li.splash.card.h
            span.value 8
            span.symbol &hearts;
          li.splash.card.c
            span.value 7
            span.symbol &clubs;
          li.splash.full.card.d
            span.value O
            span.symbol &diams;  
            span.back &diams;
        ul.stack
          li.splash.card.d
            span.value K
            span.symbol &diams;
          li.splash.card.c
            span.value Q
            span.symbol &clubs;
          li.splash.card.h
            span.value J
            span.symbol &hearts;
          li.splash.full.card.c
            span.value U
            span.symbol &clubs;  
            span.back &clubs;            
  
        ul.stack
          li.splash.card.c
            span.value 3
            span.symbol &clubs;
          li.splash.full.card.h
            span.value N
            span.symbol &hearts;  
            span.back &hearts;  
            
        ul.stack
          li.splash.card.c
            span.value 8
            span.symbol &clubs;
          li.splash.card.d
            span.value 7
            span.symbol &diams;
          li.splash.full.card.s
            span.value C
            span.symbol &spades;  
            span.back &spades;

        ul.stack
          li.splash.full.card.d
            span.value E
            span.symbol &diams;  
            span.back &diams; 
