@font-face {
  font-family: LeagueGothic;
  src: url('../fonts/League Gothic.otf');
}

@font-face {
  font-family: Pixel;
  src: url('../fonts/Pixel.ttf');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ddd;
  color: #666;
  font-family: LeagueGothic;
  
  width: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
}

.card-shape {
  width: 75px;
  height: 75px;
  margin-bottom: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#player {
  position: relative;
  width: 512px;
  margin: auto;
  
  background: #ccc;
  border: 1px solid #b0b0b0;
  border-bottom: 0;
  -webkit-box-shadow: rgba(0,0,0,0.05) 4px 4px 0px inset;
  -moz-box-shadow: rgba(0,0,0,0.05) 4px 4px 0px inset;
  
  .pounce, .piles, .stream {
    display: inline-block;
  }
  
  
  .stream, .piles {
    border-left: 1px solid #b0b0b0;
  }
  
}

.stack {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  
  
  .card {
    position: relative;
    display: block;
    width: 75px;
    height: 30px;
    cursor: move;
    margin-bottom: -5px;
    overflow: hidden;

    border-top: 1px solid #ccc;
    background: #ddd;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

    .value {
      font-size: 18px;
      margin: 0 3px 0 6px;
    }
    .symbol {
      font-size: 16px;
    }
    .back {
      position: absolute;
      right: 5px;
      top: -10px;
      font-size: 35px;
      opacity: 0.2;
    }
    
    .size {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 2px 0 2px 0;
      
      font: 8px Pixel;
      text-align: right;
      background: #ddd;
      border-top: 1px solid #ccc;
      
      color: #333;
    }
  }

  .card:last-child {
    .card-shape;
    background: #eee;

    .value {
      position: absolute;
      margin-left: 0;
      font-size: 50px;
      bottom: 0px;
      left: 10px; 
    }

    .symbol {
      position: absolute;
      font-size: 20px;
      top: 10px;
      right: 10px;
    }

    .back {
      font-size: 90px;
      left: -10px;
      top: -20px;
    }
  }

  .hovered {
    background: #eee;
  }
  .hovered:last-child {
    background: #fff;
  }
}

.d, .h {
  color: #b14e4e;
}
.s, .c {
  color: #646768;
}