@font-face {
  font-family: LeagueGothic;
  src: url('../fonts/League Gothic.otf');
}
@font-face {
  font-family: Pixel;
  src: url('../fonts/Pixel.ttf');
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #ddd;
  color: #666;
  font-family: LeagueGothic;
  width: 100%;
}
ul, li {
  margin: 0;
  padding: 0;
}
.card-shape {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#drag {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#drag .stack {
  -webkit-box-shadow: #aaa 0px 0px 6px;
  -moz-box-shadow: #aaa 0px 0px 6px;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#middle {
  background: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 100px;
}
#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#player {
  position: relative;
  width: 500px;
  min-height: 142px;
  margin: auto;
  background: #ccc;
  border: 1px solid #b0b0b0;
  border-top: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 4px 4px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 4px 4px 0px inset;
}
#player .pounce, #player .piles, #player .stream {
  display: inline-block;
  padding: 2px;
}
#player .stream, #player .piles {
  border-left: 1px solid #b0b0b0;
}
#player .pounce .card {
  margin-top: -3px;
  -webkit-box-shadow: 0px 1px 0px #666, 
                        0px 2px 0px #ccc, 
                        0px 3px 0px #666;
}
.stack {
  display: inline-block;
  vertical-align: top;
  margin: 3px;
  margin-bottom: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.stack .card {
  position: relative;
  display: block;
  width: 75px;
  height: 30px;
  cursor: move;
  margin-bottom: -5px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  background: #ddd;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
}
.stack .card .value {
  font-size: 18px;
  margin: 0 3px 0 6px;
}
.stack .card .symbol {
  font-size: 16px;
}
.stack .card .back {
  position: absolute;
  font-family: right: 5px;
  top: -10px;
  font-size: 35px;
  opacity: 0.2;
}
.stack .card:first-child {
  border-top: 0;
}
.stack .card:last-child {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #eee;
  overflow: hidden;
}
.stack .card:last-child .value {
  position: absolute;
  margin-left: 0;
  font-size: 50px;
  bottom: 0px;
  left: 10px;
}
.stack .card:last-child .symbol {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
}
.stack .card:last-child .back {
  font-size: 90px;
  left: -10px;
  top: -20px;
}
.stack .card:last-child .size {
  position: absolute;
  bottom: 0;
  right: 5px;
  padding: 2px;
  visibility: hidden;
  font: 8px Pixel;
  background: #eee;
  border: 1px solid #ccc;
  border-bottom: 0px;
  color: #333;
}
.stack .empty {
  background: rgba(0, 0, 0, 0.05) !important;
}
.stack .hovered {
  background: #eee;
}
.stack .hovered:last-child {
  background: #fff;
}
.stack .hovered:last-child .size {
  visibility: visible;
}
.opponent {
  position: relative;
  width: 230px;
  margin: auto;
  background: #ccc;
  border: 1px solid #b0b0b0;
  border-bottom: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 4px 0px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 4px 0px 0px inset;
}
.opponent .pounce, .opponent .piles, .opponent .stream {
  display: inline-block;
}
.opponent .stream, .opponent .piles {
  border-left: 1px solid #b0b0b0;
}
.opponent .stack {
  display: inline-block;
  vertical-align: top;
  margin: 3px;
}
.opponent .stack .card {
  position: relative;
  display: block;
  width: 32px;
  height: 11px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  background: #ddd;
  border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
}
.opponent .stack .card .value {
  font-family: Pixel;
  font-size: 8px;
  margin: 2px;
}
.opponent .stack .card .symbol {
  font-size: 8px;
}
.opponent .stack .card .back {
  position: absolute;
  right: 5px;
  top: -10px;
  font-size: 35px;
  opacity: 0.2;
}
.opponent .stack .card:last-child {
  width: 32px;
  height: 32px;
  margin-bottom: 2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #eee;
}
.opponent .stack .card:last-child .value {
  font-family: LeagueGothic;
  position: absolute;
  margin-left: 0;
  font-size: 18px;
  bottom: 0px;
  left: 4px;
}
.opponent .stack .card:last-child .symbol {
  position: absolute;
  font-size: 14px;
  top: 2px;
  right: 2px;
}
.opponent .stack .card:last-child .back {
  font-size: 40px;
  left: -3px;
  top: -10px;
}
.opponent .stack .card:last-child .size {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
  visibility: hidden;
  font: 12px Pixel;
  text-align: right;
  background: #ddd;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  color: #333;
}
.opponent .stack .hovered {
  background: #eee;
}
.opponent .stack .hovered:last-child {
  background: #fff;
}
.opponent .stack .hovered:last-child .size {
  visibility: visible;
}
.d, .h {
  color: #b14e4e;
}
.s, .c {
  color: #646768;
}
